.big_conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    margin: 0;
    background-color: #F9F6FD;
    
}

.massg{
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    
}
.text_massg{
    margin: 7px 0px;
    width: 100%;
    
}
.text_hi{

    position: absolute;
    margin-top: 80px;
    margin-left: 370px;
    color: #02014A;
    font-size: 28px;
    font-weight:bold;
    /* width: 150px; */
}

.conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 350px;
    padding-right: 20px;
}
.box01{
    display: flex;
    justify-content: space-between;
}
.box_1, .box_4{
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    
}
.card{
    display: flex;
    justify-content: space-around;
}

.subject, .contacts{
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: left;
    width: 310px;
    height: 140px;
}
.contacts{
    margin-left: 20px;
}
.subject_text1, .contacts_text1, .dip_guid_text1, .class_guid_text1, .dep_man_text1, .term_text1, .percent_text1{ 
    margin-top: 17px;
    margin-left: 18px;
    font-size: 15px;
    font-weight:500 ;
    color: #78788B;
}

.subject_text2, .contacts_text2,.contacts_text3{ 
    margin-bottom: 0;
    margin-left: 18px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}
.contacts{
    display: flex;
}
.contacts_text1{
    margin-bottom: 20px;
}
.contacts_text3{
    margin-top: 0;
    float: left
}
.sp_cont_t1,.sp_cont_t2{
    font-size: 14px;
    margin-left: 15px;
    font-weight: 400;
}
.sp_cont_t1{
    margin-left: 25px;
}
.contacts_photo{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 50px;
}
.box_2{
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 310px;
    height: 236px;
}
.news_text{
    margin-top: 17px;
    margin-bottom: 15px;
    margin-left: 18px;
    font-size: 14px;
    font-weight:500 ;
    text-transform: uppercase;
    color: #78788B;
}

.box_news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;

}
.news1, .news2, .news3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F6F7FA ;
    width: 280px;
    height: 40px;
    margin-left: 18px;
    border-radius: 8px;
}
.news1_photo1, .news2_photo1, .news3_photo1{
    margin-left: 10px;
    width: 27px;
    height: 27px;
}
.news1_photo2, .news2_photo2, .news3_photo2{
    margin-left: 20px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.news1_text1, .news2_text1, .news3_text1{
    font-size: 14px;
    font-weight: 600;
    color: #02014A;
    opacity: 0.7;
}
.news_text_end{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: #02014A;
    opacity: 0.5;
}
.box_dip_guid, .box_class_guid, .box_dep_man,.box_term{
    display: flex;
}
.dip_guid, .class_guid,.dep_man{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: left;
    width: 310px;
    height: 170px;
}
.dip_guid_photo1, .class_guid_photo1, .dep_man_photo1{
    width: 70px;
    margin-left: 18px;
}
.dip_guid_text2, .class_guid_text2, .dep_man_text2{
    text-align: left;
    margin-left: 20px;
    width: 200px;
    /* margin-top: 10px; */
    font-size: 16px;
    font-weight: 700;
    color: #02014A;
}
.dip_guid_text3, .class_guid_text3,.dep_man_text3{
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #6E17F2;
}
.term, .percent{
    display: flex;
    margin-top: 20px;
    border-radius: 16px;
    text-align: left;
    width: 480px;
    height: 300px;
}
.term{background-color: #FFFFFF;    flex-direction: column;}
.percent{background-image: url('../img/Background.svg');}
.box_term{   justify-content: space-around;}
.box_term1,.box_term2{
    display: flex;
    flex-direction: column;
}
.term_text2, .term_text3{
    font-size: 17px;
    font-weight: bold;
    color: #02014A;
    width: 150px;
    text-align: center;
}
.box_group1, .box_group2{
    background-image: url('../img/Group_1.svg');
    width: 160px;
    height: 120px;
}

.term_text4, .term_text5{
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    color: #02014A;
}
.term_text5{
    margin-left: 20px;
}

.sp_term_text4, .sp_term_text5{
    font-size: 20px;
    font-weight: 500;
    color: #02014A;
    opacity: 0.7;
}
.percent_img{
    margin-top: 30px;
    margin-left: 40px;
    width: 70px;
    height: 70px;
}
.percent_text2{
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    margin-left: 40px;
    color: #02014A;
}
.circularProgressbar{
    margin-left: -20px;
    margin-top: 60px;
    height: 210px;
    width: 210px;
    font-family: "Gilroy", sans-serif;
}
.activ{
    display: block;
}
.no_activ{
    display:none;
}




@media screen and (max-width:1024px){
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 240px;
        
    }
    .text_hi{

        position: absolute;
        margin-top: 80px;
        margin-left: 250px;
        color: #02014A;
        font-size: 22px;
        font-weight:bold;
        
    }

    .box01, .card, .box_4{
        display: flex;
        flex-direction: column;
    }
    .subject, .contacts{
        background-color: #FFFFFF;
        border-radius: 16px;
        text-align: left;
        width: 330px;
        height: 110px;
        margin-bottom: 16px;
    }
    .contacts{
        margin-left: 0;
    }

    .box_2{
        margin-top: 0;
        display: flex;
        text-align: left;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 16px;
        width: 400px;
        height: 236px;
    }
    .box_1{
        display: flex;
        align-items:flex-start;
        margin-top: 100px;
        width: 100%;
    }
    .subject_text2, .contacts_text2,.contacts_text3{ 
        margin-bottom: 0;
        margin-left: 18px;
        font-size: 14px;
        font-weight:700 ;
        color: #02014A;
        width: 230px;
    }
    .sp_cont_t1,.sp_cont_t2{
        font-size: 12px;
        margin-left: 15px;
        font-weight: 400;
        width: auto;
    }
    .contacts_photo{
        width: 30px;
        height: 30px;
        margin-top: 25px;
        margin-left: -50px;
    }
    .news1, .news2, .news3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:#F6F7FA ;
        width: 240px;
        height: 40px;
        margin-left: 18px;
        border-radius: 8px;
    }
    .box_dip_guid, .box_class_guid, .box_dep_man,.box_term{
        display: flex;
    }
    .dip_guid, .class_guid,.dep_man{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        background-color: #FFFFFF;
        border-radius: 16px;
        text-align: left;
        width: 100%;
        height: 150px;
    }
    .dip_guid_photo1, .class_guid_photo1, .dep_man_photo1{
        width: 70px;
        margin-left: 18px;
    }
    .dip_guid_text2, .class_guid_text2, .dep_man_text2{
        text-align: left;
        margin-left: 20px;
        width: auto;
        margin-bottom: 10px;
        
        font-size: 16px;
        font-weight: 700;
        color: #02014A;
    }
    .dip_guid_text3, .class_guid_text3,.dep_man_text3{
        margin-top: 0px;
        margin-left: 20px;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: #6E17F2;
    }
    .term, .percent{
        display: flex;
        margin-top: 20px;
        border-radius: 16px;
        text-align: left;
        width: 100%;
        height: 300px;
    }
}
@media screen and (max-width:768px){
    
    .body {
        font-family: "Gilroy", sans-serif;
        display: flex;
        margin: 0;
        background-color: #F9F6FD;
    }
    .big_conteiner{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        margin-left: 25px;
    }
    .menu{
        margin-left: 0;
    }
    .text_hi{
        margin-top: 60px;
        margin-left: 100px;
        color: #02014A;
        font-size: 22px;
        font-weight:bold;
        /* width: 150px; */
    }

    .box01, .card, .box_4{
        display: flex;
        flex-direction: column;
    }

    .box01{
        width: 100%;
    }
    .subject, .contacts{
        background-color: #FFFFFF;
        border-radius: 16px;
        text-align: left;
        width: 100%;
        height: 110px;
        margin-bottom: 16px;
    }
    .contacts{
        margin-left: 0;
    }

    .box_2{
        margin-top: 0;
        display: flex;
        text-align: left;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 16px;
        width: 100%;
        height: 236px;
    }
    .box_1{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin-top: 100px;
    }
    .subject_text2, .contacts_text2,.contacts_text3{ 
        margin-bottom: 0;
        margin-left: 18px;
        font-size: 14px;
        font-weight:700 ;
        color: #02014A;
        width: 200px;
    }
    .sp_cont_t1,.sp_cont_t2{
        font-size: 12px;
        margin-left: 15px;
        font-weight: 400;
        width: auto;
    }
    .contacts_photo{
        width: 30px;
        height: 30px;
        margin-top: 25px;
        margin-left: -50px;
    }
    .news1, .news2, .news3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:#F6F7FA ;
        width: 220px;
        height: 40px;
        margin-left: 18px;
        border-radius: 8px;
    }
    .news1_text1, .news2_text1, .news3_text1{
        font-size: 12px;
        font-weight: 600;
        color: #02014A;
        opacity: 0.7;
    }
    
    .dip_guid, .class_guid,.dep_man{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        background-color: #FFFFFF;
        border-radius: 16px;
        text-align: left;
        width: 100%;
        height: 170px;
    }
    .term{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-radius: 16px;
        text-align: left;
        width: 100%;
        height: auto;
    }
    .percent{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-radius: 16px;
        text-align: left;
        width: 100%;
        background-image: url('../img/Background.svg');
    }
    .box_term{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .percent_img,.percent_text2{
        display: none;
    }
    .circularProgressbar{
        margin-left: 50px;
        margin-top: 20px;
        height: 150px;
        width: 150px;
        font-family: "Gilroy", sans-serif;
    }
}