.big_conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    margin: 0;
    background-color: #F9F6FD;
    
}

.massg{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    
}
.text_massg{
    margin: 7px 0px;
}

.text_hi{

    position: absolute;
    margin-top: 80px;
    margin-left: 370px;
    color: #02014A;
    font-size: 28px;
    font-weight:bold;
    /* width: 150px; */
}
.conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 370px;
    padding-right: 20px;
    min-height: 800px;
    
}
.box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.box_1{
    display: flex;
    flex-direction: column;
    border-radius: 16px;

    
}
.subject, .contacts{
    display: flex; 
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: left;
    margin-top: 20px;
    width: 350px;
    height: 140px;
}
.stud_box2{
    display: flex;
    flex-direction: column;
}
.contacts_text1, .dip_guid_text1, .class_guid_text1, .dep_man_text1, .term_text1, .percent_text1{ 
    margin-top: 17px;
    margin-left: 20px;
    font-size: 15px;
    font-weight:500 ;
    color: #78788B;
}

.subject_text2{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}
.subject_text4{
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}
.subject_text3{
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    font-weight:500 ;
    color: #78788B;
}
.contacts_photo2{
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-left: 20px;
}
.contacts_text2,.contacts_text3{ 
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}

.contacts_text1{
    margin-bottom: 20px;
}
.contacts_text3{
    margin-top: 0;
    float: left
}
.sp_cont_t1,.sp_cont_t2{
    font-size: 14px;
    margin-left: 15px;
    font-weight: 400;
}
.sp_cont_t1{
    margin-left: 25px;
}
.contacts_photo{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 50px;
}
.percent{
    display: flex;
    
    margin-top: 20px;
    border-radius: 16px;
    text-align: left;
    width: 600px;
    height: 300px;
    background-image: url('../img/Gr.svg');
}
.percent_text2{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
    width: 200px;
    margin-left: 60px;
    color: #02014A;
}
.circularProgressbar{
    margin-left: 50px;
    margin-top: 50px;
    height: 300px;
    width: 200px;
    font-family: "Gilroy", sans-serif;
}
.box2{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 16px;
}
.stud_box{
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    font-size: 16px;
    font-weight:400 ;
    color: #02014A; 
}

.dip_text{
    margin-top: 40px;
    text-align: left;
    padding-left: 50px;
    border-radius: 16px;
    font-size: 20px;
    font-weight:600 ;
    color: #02014A;
    margin-bottom: 0;
}
.dip_text1{
    width: 920px;
    margin-top: 15px;
    text-align: left;
    padding-left: 15px;
    border-radius: 16px;
    font-size: 14px;
    font-weight:400 ;
    color: #02014A;
}
.dip_text2{
    font-size: 18px;
    font-weight:400 ;
    color: #ACA2BB;
    opacity: 50%;
    margin-bottom: 0;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ACA2BB;
}
.studs{
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
    
}
.stud{
    margin-bottom: 10px;
}
.link{
    color: #02014A;
    text-decoration: none;
}
.box02{
    width: 200px;
}