.big_conteiner{
    display: flex;
    flex-direction: column;
}
.body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 1349px;
    height: auto;
    background-color: #F9F6FD;
    
}
.massg{
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    
}
.text_massg{
    margin: 7px 0px;
    width: 100%;
    
}
.text_hi{
    position: absolute;
    margin-top: 80px;
    margin-left: 370px;
    color: #02014A;
    font-size: 28px;
    font-weight:bold;
}
.conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 360px;
    margin-right: 20px;
}
.dip_h2{
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 16px;
    height: 30px;
    font-size: 16px;
    font-weight:600 ;
    color: #02014A;
}
.dip_box2{
    background-color: #FFFFFF;
    height: auto;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 16px;
}
.dip_text1{
    margin-top: 30px;
    text-align: left;
    padding-left: 40px;
    border-radius: 16px;
    font-size: 16px;
    font-weight:400 ;
    color: #02014A;
}
.doc{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    justify-content: space-around;
}
.icon{
    display: flex;
    border-radius: 8px;
    width: 380px;
    height: 46px;
    background-color: #F6F7FA;
    margin-bottom: 10px;
}
.icon_photo{
    margin-top: 8px;
    margin-left: 10px;
    width: 20;
    height: 30px;
}
.dip_text{
    margin-top: 15px;
    text-align: left;
    margin-left: 40px;
    border-radius: 16px;
    font-size: 16px;
    color: #02014A;
    margin-bottom: 0;
}
.subject{
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: left;
    width: 450px;
    height: 310px;
}
.subject_text1{ 
    margin-top: 17px;
    margin-left: 18px;
    font-size: 15px;
    font-weight:500 ;
    color: #78788B;
}
.subject_text2{ 
    margin-bottom: 0;
    margin-left: 18px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}
.check1{
    text-align: left;
    margin-top: 20px;
    width: 480px;
    height: 310px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.divbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div_content{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.boxflex{
    margin-top: 55px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
}
.contacts_photo{
    margin-top: 60px;
    width: 100px;
    height: 100px;
}
.dip_text2{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 14px;
    color: #02014A;
    text-transform: uppercase;
}
.dip_text3{
    margin-top: 50px;
    margin-left: 40px;
    font-size: 16px;
    color: #02014A;
    
}
.dip_text4{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 18px;
    color: #02014A;
}
.del{
    margin-top: 10px;
    margin-left: 120px;
    width: 24px;
    height: 24px;
}


@media screen and (max-width:1024px){
    .body {
        font-family: "Gilroy", sans-serif;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: auto;
        height: auto;
        background-color: #F9F6FD;
        
    }
    
    .text_hi{
        position: absolute;
        margin-top: 80px;
        margin-left: 250px;
        color: #02014A;
        font-size: 28px;
        font-weight:bold;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-left: 240px;
        margin-right: 20px;
    }
}


@media screen and (max-width:767px){
    .body {
        font-family: "Gilroy", sans-serif;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: auto;
        height: auto;
        background-color: #F9F6FD;
        
    }
    .text_hi{
        position: absolute;
        margin-top: 80px;
        margin-left: 80px;
        color: #02014A;
        font-size: 28px;
        font-weight:bold;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-left: 30px;
        margin-right: 20px;
    }
    .dip_h2{
        text-align: left;
        padding-left: 15px;
        padding-top: 10px;
        background-color: #FFFFFF;
        text-transform: uppercase;
        border-radius: 16px;
        height: 60px;
        font-size: 16px;
        font-weight:600 ;
        color: #02014A;
    }
    .dip_text1{
        margin-top: 30px;
        text-align: left;
        padding-left: 20px;
        border-radius: 16px;
        font-size: 16px;
        font-weight:400 ;
        color: #02014A;
    }
    .doc{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        justify-content: space-around;
        width: 230px;
    }
    .dip_text{
        margin-top: 15px;
        text-align: left;
        margin-left: 20px;
        border-radius: 16px;
        font-size: 14px;
        color: #02014A;
        margin-bottom: 0;
        width: 130px;
    }
    .icon{
        display: flex;
        border-radius: 8px;
        width: 300px;
        height: 46px;
        background-color: #F6F7FA;
        margin-bottom: 10px;
    }
    .subject{
        margin-top: 20px;
        background-color: #FFFFFF;
        border-radius: 16px;
        text-align: left;
        width: 100%;
        height: 310px;
    }
    .contacts_photo{
        margin-top: 20px;
        width: 0px;
        height: 0px;
    }
    .dip_text3{
        margin-top: 30px;
        margin-left: 20px;
        font-size: 14px;
        opacity: 0.8;
        color: #02014A;
        
    }
    .dip_text4{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 16px;
        width: 230px;
        color: #02014A;
    }
    .del{
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
}



