.big_conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    

}
.body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    height: auto;
    background-color: #F9F6FD;
    
}
.massg{
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    
}
.text_massg{
    margin: 7px 0px;
    width: 100%;
    
}
.text_hi{
    position: absolute;
    margin-top: 80px;
    margin-left: 370px;
    color: #02014A;
    font-size: 28px;
    font-weight:bold;
}
.dip_box1{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-wrap: wrap;
}
.subject,.dip_ruc{
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: left;
    width: 310px;
    height: 140px;
}
.subject_text1{ 
    margin-top: 17px;
    margin-left: 18px;
    font-size: 15px;
    font-weight:500 ;
    color: #78788B;
}

.subject_text2{ 
    margin-bottom: 0;
    margin-left: 18px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}
.conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 360px;
    margin-right: 20px;
}
.check1, .check2,.material,.tema_dip,.present_dip,.defens_dip{
    width: 200px;
    height: 140px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.tema_dip,.present_dip,.defens_dip,.dip_ruc{
    margin-top: 15px;
}
.dip_h2{
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 16px;
    width: 550px;
    height: 30px;
    font-size: 16px;
    font-weight:600 ;
    color: #02014A;
}
.dip_box2,.dip_box3{
    background-color: #FFFFFF;
    height: auto;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 16px;
}
.dip_text{
    text-align: left;
    padding-left: 15px;
    border-radius: 16px;
    font-size: 16px;
    font-weight:600 ;
    color: #02014A;
    margin-bottom: 0;
    width: 400px;
}
.dip_text1{
    width: 920px;
    margin-top: 15px;
    text-align: left;
    padding-left: 15px;
    border-radius: 16px;
    font-size: 14px;
    font-weight:400 ;
    color: #02014A;
}
.box_red{
    display: flex;

    
}
.del{
    cursor: pointer;
    margin-left: 500px;
    margin-top: 15px;
    width: 20px;
}
.text_form{
    text-transform: uppercase;
    font-size: 16px;
    font-weight:600 ;
    color: #02014A;
}
.input,.input2{
    margin-left: 0px;
    margin-top: 7px;
    width: 500px;
    height: 41px;
    opacity: 0.5;
    border-radius: 8px;
    border: 1px solid rgb(118, 118, 118);
}
.input2{
    height: 140px;
}

.btn{
    
    display: flex;
    cursor: pointer;
    font-family:  "Gilroy", sans-serif ;
    margin-left: 42%;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    outline: none;
    
}

.btn:hover{
    transform: scale(1.1);
}


.txakk{
    
    font-size: 14px;
    font-weight:200px;
    margin-top: 10px;
    margin-left: 33px;

}
.active {
    display: block;
    /* height: 100%; */
}
.no_active {
    display: none;
}
@media (max-width:768px){
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 140px;
        margin-left: 240px;
        margin-right: 20px;
    }
    .text_hi{
        position: absolute;
        margin-top: 80px;
        margin-left: 250px;
        color: #02014A;
        font-size: 28px;
        font-weight:bold;
    }
    .subject,.dip_ruc{
        background-color: #FFFFFF;
        border-radius: 16px;
        text-align: left;
        width: 280px;
        height: 140px;
    }
    .dip_text1{
        width: 100%;
    }
    .dip_h2{
        width: 100%;
        
    }
    .check2,.material,.present_dip,.defens_dip{
        margin-top: 10px;
        width: 240px;
        height: 140px;
        background-color: #FFFFFF;
        border-radius: 16px;
    }
    .del{
        margin-left: 150px;
        margin-top: 3px;
        width: 20px;
        margin-right: 20px;
    }
}
@media (max-width:320px){
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 140px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .text_hi{
        position: absolute;
        margin-top: 80px;
        margin-left: 70px;
        color: #02014A;
        font-size: 28px;
        font-weight:bold;
    }
    .check1, .check2,.material,.tema_dip,.present_dip,.defens_dip{
        margin-top: 10px;
        width: 310px;
        height: 140px;
        background-color: #FFFFFF;
        border-radius: 16px;
    }
    .dip_h2{
        text-align: left;
        padding-left: 15px;
        padding-top: 10px;
        background-color: #FFFFFF;
        text-transform: uppercase;
        border-radius: 16px;
        width: 100%;
        height: 60px;
        font-size: 16px;
        font-weight:600 ;
        color: #02014A;
    }
    .dip_text{
        text-align: left;
        padding-left: 15px;
        border-radius: 16px;
        font-size: 16px;
        font-weight:600 ;
        color: #02014A;
        margin-bottom: 0;
        width: 220px;
    }
    .del{
        margin-left: 20px;
        margin-top: 3px;
        width: 20px;
    }
}