.big_conteiner{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    height: auto;
    background-color: #F9F6FD;
    
}
.massg{
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    
}
.text_massg{
    margin: 7px 0px;
    width: 100%;
    
}
.text_hi{
    position: absolute;
    margin-top: 80px;
    margin-left: 370px;
    color: #02014A;
    font-size: 28px;
    font-weight:bold;
}
.text{
    position: absolute;
    text-align: left;
    margin-top: 160px;
    margin-left: 370px;
    color: #02014A;
    font-size: 16px;
    width: 680px;

}
.conteiner{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    margin-left: 360px;
    margin-right: 20px;
    min-height: 800px;
}
.dip_box1{
    margin-left: 10px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 16px;
}
.dip_text{
    text-align: left;
    padding-left: 40px;
    border-radius: 16px;
    font-size: 16px;
    font-weight:600 ;
    color: #02014A;
    margin-bottom: 0;
}
.dip_text1{
    text-align: left;
    padding-left: 40px;
    border-radius: 16px;
    font-size: 15px;
    font-weight:400 ;
    color: #02014A;

}
.dip_text2{
    text-align: left;
    padding-left: 40px;
    border-radius: 16px;
    font-size: 13px;
    font-weight:400 ;
    color: #02014A;
    text-decoration: underline;
    cursor: pointer;
}

.categor{
    width: 240px;
    height: 280px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.text1{
    margin-top: 0;
    padding-top: 20px;
    padding-left: 40px;
    text-align: left;
    font-size: 20px;
    font-weight:500 ;
    color: #02014A;
    text-transform: uppercase;
}
.news{
    
    display: flex;
    flex-wrap: wrap;
    height: auto;
    border-radius: 16px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.new1{
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 215px;
    height: 50px;
    margin-bottom: 15px;
    
}
.contacts_photo{
    margin-top: 10px;
    width: 25px;
    height: 30px;
}
.new_text1{
    font-size: 16px;
    font-weight:400 ;
    color: #02014A;
}
.textcontent{
    display: flex;
    justify-content: center;

    padding-top: 180px;
    height: 250px;
}
.text{
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    font-size: 26px;
    font-weight:500 ;
    color: #02014A;
}
.contacts_photo2{
    margin-left: 380px;
    width: 25px;
    height: 30px;
}
.new_text{
    margin-top: 20px;
    margin-left: 40px;
    width: 500px;
    font-size: 16px;
    font-weight:400 ;
    color: #02014A;
}

.contacts_photo1{
    margin-top: 100px;
    margin-left: 60px;
    width: 250px;
    height: 300px;
}
.box5{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 500px;
    border-radius: 16px;
}
.input_text {
    
    margin-left:20px;
    margin-top: 7px;
    width: 400px;
    height: 35px;
    opacity: 0.5;
    border-radius: 8px;
    border: 1px solid rgb(118, 118, 118);
}
.btn{
    display: flex;
    cursor: pointer;
    font-family:  "Gilroy", sans-serif ;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    margin-left: 20px;
    width: 140px;
    height: 40px;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    outline: none;
    
}

.btn:hover{
    transform: scale(1.1);
 }


.txakk{
    font-size: 14px;
    font-weight:200px;
    margin-top: 10px;
    margin-left: 35px;
}

.term_text{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 16px;
    color: #02014A;   
}