.big_conteiner{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    

}
.body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    height: auto;
    background-color: #F9F6FD;
    
}
.massg{
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    
}
.text_massg{
    margin: 7px 0px;
    width: 100%;
    
}
.text_hi{
    position: absolute;
    margin-top: 80px;
    margin-left: 370px;
    color: #02014A;
    font-size: 28px;
    font-weight:bold;
}
.conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 360px;
    margin-right: 20px;
    min-height: 600px;
}
.dip_box2{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: auto;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 16px;
}
.stud_box{
    display: flex; 
    justify-content: space-around; 
    font-size: 16px;
    font-weight:400 ;
    color: #02014A; 
}

.dip_text{
    margin-top: 40px;
    text-align: left;
    padding-left: 50px;
    border-radius: 16px;
    font-size: 20px;
    font-weight:600 ;
    color: #02014A;
    margin-bottom: 0;
}
.dip_text1{
    width: 920px;
    margin-top: 15px;
    text-align: left;
    padding-left: 15px;
    border-radius: 16px;
    font-size: 14px;
    font-weight:400 ;
    color: #02014A;
}
.dip_text2{
    font-size: 18px;
    font-weight:400 ;
    color: #ACA2BB;
    opacity: 50%;
    margin-bottom: 0;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ACA2BB;
}
.studs{
    list-style-type: none;
    padding-left: 20px;
}
.stud{
    margin-bottom: 10px;
}
.link{
    color: #02014A;
    text-decoration: none;
}
@media (max-width:1024px){
    .text_hi{
        position: absolute;
        margin-top: 80px;
        margin-left: 240px;
        color: #02014A;
        font-size: 28px;
        font-weight:bold;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 140px;
        margin-left: 240px;
        margin-right: 20px;
        min-height: 600px;
    }
    .dip_text{
        margin-top: 40px;
        text-align: left;
        padding-left: 30px;
        border-radius: 16px;
        font-size: 20px;
        font-weight:600 ;
        color: #02014A;
        margin-bottom: 0;
    }
    .dip_text2{
        font-size: 14px;
        font-weight:400 ;
        color: #ACA2BB;
        opacity: 50%;
        margin-bottom: 0;
        margin-left: 20px;
        width: 70px;
        height: 30px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #ACA2BB;
    }
    .studs{
        list-style-type: none;
        padding-left: 20px;
        font-size: 12px;
    }
}
@media screen and (max-width:767px){
    .text_hi{
        position: absolute;
        margin-top: 80px;
        margin-left: 70px;
        color: #02014A;
        font-size: 28px;
        font-weight:bold;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 140px;
        margin-left: 20px;
        margin-right: 20px;
        min-height: 600px;
    }
    .stud_box{
        display: flex; 
        justify-content: space-around; 
        flex-wrap: wrap;
        font-size: 16px;
        font-weight:400 ;
        color: #02014A; 
    }
}