.big_conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    margin: 0;
    background-color: #F9F6FD;
    
}

.massg{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    
}
.text_massg{
    margin: 7px 0px;
}

.text_hi{

    position: absolute;
    margin-top: 80px;
    margin-left: 370px;
    color: #02014A;
    font-size: 28px;
    font-weight:bold;
    /* width: 150px; */
}
.conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 370px;
    padding-right: 20px;
    min-height: 800px;
    
}

.box_1{
    display: flex;
    justify-content: space-between;
    
}

.subject,.subject2, .contacts{
   
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: left;
    width: 310px;
    height: 140px;
}
.subject{
    display: flex; 
}

.stud_box{
    display: flex;
    flex-direction: column;
}
.contacts_text1, .dip_guid_text1, .class_guid_text1, .dep_man_text1, .term_text1, .percent_text1{ 
    margin-top: 17px;
    margin-left: 20px;
    font-size: 15px;
    font-weight:500 ;
    color: #78788B;
}

.subject_text2{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}
.subject_text4{
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}
.subject_text3{
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    font-weight:500 ;
    color: #78788B;
}
.contacts_photo2{
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-left: 20px;
}
.contacts_text2,.contacts_text3{ 
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight:700 ;
    color: #02014A;
}
.contacts{
    display: flex;
}
.contacts_text1{
    margin-bottom: 20px;
}
.contacts_text3{
    margin-top: 0;
    float: left
}
.sp_cont_t1,.sp_cont_t2{
    font-size: 14px;
    margin-left: 15px;
    font-weight: 400;
}
.sp_cont_t1{
    margin-left: 25px;
}
.contacts_photo{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 50px;
}
.box_3{
    display: flex;
    justify-content: space-between;
}
.subject_text1, .contacts_text1, .dip_guid_text1, .class_guid_text1, .dep_man_text1, .term_text1, .percent_text1{ 
    margin-top: 17px;
    margin-left: 18px;
    font-size: 15px;
    font-weight:500 ;
    color: #78788B;
}
.term_text{
    margin-top: 30px;
    margin-left: 18px;
    font-size: 13px;
    font-weight:500 ;
    color: #02014A;
}
.box_dip_guid, .box_class_guid, .box_dep_man,.box_term{
    display: flex;
    justify-content: center;
}
.dip_guid, .class_guid,.dep_man{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    text-align: left;
    width: 460px;
    height: 170px;
}
.dip_guid_photo1, .class_guid_photo1, .dep_man_photo1{
    width: 70px;
    margin-left: 18px;
}
.dip_guid_text2, .class_guid_text2, .dep_man_text2{
    text-align: left;
    margin-left: 20px;
    width: 200px;
    /* margin-top: 10px; */
    font-size: 16px;
    font-weight: 700;
    color: #02014A;
}
.dip_guid_text3, .class_guid_text3,.dep_man_text3{
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #6E17F2;
}
.percent{
    display: flex;
    margin-top: 20px;
    border-radius: 16px;
    text-align: left;
    width: 100%;
    height: 300px;
    background-image: url('../img/Gr.svg');
}
.percent_img{
    margin-top: 30px;
    margin-left: 40px;
    width: 70px;
    height: 70px;
}
.percent_text2{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    margin-left: 80px;
    color: #02014A;
}

.circularProgressbar{
    margin-left: 130px;
    margin-top: 50px;
    height: 200px;
    width: 200px;
    font-family: "Gilroy", sans-serif;
}
.stud_box2{
    display: flex;
}
@media (max-width:768px){
    .text_hi{
        position: absolute;
        margin-top: 80px;
        margin-left: 250px;
        color: #02014A;
        font-size: 28px;
        font-weight:bold;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 140px;
        margin-left: 240px;
        margin-right: 20px;
        min-height: 400px;
    }
    .box_1, .box_4{
        display: flex;  
        flex-wrap: wrap;
        width: 100%;
    }
    .subject2, .contacts{
        margin-top: 20px;
        background-color: #FFFFFF;
        border-radius: 16px;
        text-align: left;
        width: 240px;
        height: 140px;
    }
    .subject_text2{
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 20px;
        font-size: 16px;
        font-weight:700 ;
        color: #02014A;
    }
    .contacts_text1{
        margin-bottom: 20px;
    }
    .contacts_text3{
        margin-top: 0;
        font-size: 15px;
        float: left
    }
    .sp_cont_t1,.sp_cont_t2{
        font-size: 13px;
        margin-left: 15px;
        font-weight: 400;
    }
    .sp_cont_t1{
        margin-left: 25px;
    }
    .contacts_photo{
        width: 40px;
        height: 40px;
        margin-top: 25px;
        margin-left: 10px;
    }
    .box_3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .percent{
        display: flex;
        margin-top: 20px;
        border-radius: 16px;
        text-align: left;
        width: 100%;
        height: 300px;
        background-image: url('../img/Gr.svg');
    }
    .percent_img{
        display: none;
    }
    .percent_text2{
        margin-top: 50px;
        font-size: 16px;
        font-weight: 400;
        width: 200px;
        margin-left: 40px;
        color: #02014A;
    }
    
    .circularProgressbar{
        margin-left: 0px;
        margin-top: 70px;
        height: 200px;
        width: 160px;
        font-family: "Gilroy", sans-serif;
    }
    .stud_box2{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:320px){
    .text_hi{
        position: absolute;
        margin-top: 80px;
        margin-left: 30px;
        color: #02014A;
        font-size: 28px;
        font-weight:bold;
    }
    .conteiner{
        display: flex;
        flex-direction: column;
        margin-top: 140px;
        margin-left: 20px;
        margin-right: 20px;
        min-height: 400px;
    }
    .box_1, .box_4{
        display: flex;  
        flex-direction: column;
        width: 100%;
    }
    .subject,.subject2, .contacts{
        height: 120px;
        width: 280px;
    }
    .contacts{
        margin-top: 20px;
    }
    .percent{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 0px;
        border-radius: 16px;
        text-align: left;
        width: 280px;
        height: 300px;
        background-image: url('../img/Group_2.svg');
    }
    .percent_text2{
        margin-top: 0px;
        font-size: 14px;
        font-weight: 400;
        width: 200px;
        margin-left: 40px;
        color: #02014A;
    }
    .circularProgressbar{
        margin-left: 80px;
        margin-top: 10px;
        height: 130px;
        width: 130px;
        font-family: "Gilroy", sans-serif;
    }
    .dip_guid, .class_guid,.dep_man{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        background-color: #FFFFFF;
        border-radius: 16px;
        text-align: left;
        width: 280px;
        height: 170px;
    }
    
}
