.big_conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    margin: 0;
    background-color: #F9F6FD;
    
}

.massg{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    
}
.text_massg{
    margin: 7px 0px;
}

.text_hi{

    position: absolute;
    margin-top: 80px;
    margin-left: 370px;
    color: #02014A;
    font-size: 28px;
    font-weight:bold;
    /* width: 150px; */
}
.conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 370px;
    padding-right: 20px;
    min-height: 800px;
    
}
.box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.box2{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 300px;
    border-radius: 16px;
}

.stud_box{
    display: flex; 
    flex-direction: row;
    font-size: 16px;
    font-weight:400 ;
    color: #02014A; 
}

.studs{
    list-style-type: none;
    padding-left: 50px;
    text-align: left;
    
}
.stud{
    margin-bottom: 10px;
    width: 200px;
}
.link{
    color: #02014A;
    text-decoration: none;
}
.box02{
    width: 200px;
}
.dip_text{
    margin-top: 40px;
    text-align: left;
    padding-left: 50px;
    border-radius: 16px;
    font-size: 20px;
    font-weight:600 ;
    color: #02014A;
    margin-bottom: 0;
}
.box3{
    display: flex;

    background-color: #FFFFFF;
    height: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 16px;
}
.box4{
    margin-left: 20px;
    text-align: left;
}
.input_text {
    
    margin-left:0px;
    margin-top: 7px;
    width: 400px;
    height: 35px;
    opacity: 0.5;
    border-radius: 8px;
    border: 1px solid rgb(118, 118, 118);
}
.btn{
    display: flex;
    cursor: pointer;
    font-family:  "Gilroy", sans-serif ;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    margin-left: 20px;
    width: 140px;
    height: 40px;
    color: #FFFFFF;
    background-color:#6E17F2 ;
    outline: none;
    
}

.btn:hover{
    transform: scale(1.1);
 }


.txakk{
    font-size: 14px;
    font-weight:200px;
    margin-top: 10px;
    margin-left: 35px;
}

.term_text{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 16px;
    color: #02014A;   
}
.contacts_photo{
    margin-top: 90px;
    width: 900px;
    height: 150px;
}